{
  "extends": ["eslint:recommended"],

  "env": {
    "es6": true,
    "node": true,
    "browser": false,
    "jest": true
  },

  "plugins": [],

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "[iI]gnored", "argsIgnorePattern": "^next$" }]
  }
}
